html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(83, 82, 82);
  --background2: rgb(110, 86, 57);
  --background3: rgb(158, 200, 207);
  --text1: rgb(230, 232, 208);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */   /* Disables browser font size setting */
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(255, 255, 255);
  /* font-size: 16px; */
}

body {
  display: grid;
  grid-template: 20vh 1fr 44vh 1fr 40px / 1fr 44vh 1fr;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  font-size: 4rem;
  display: flex;
  justify-content: center;

  background-color: var(--background1);
  color: var(--text1);
  font-family: 'freckle Face';
}

dialog {
  background-color: var(--background2);
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
}

#modal {
  margin: 0;
  left: 0;
  top: 0;
}

.modal-title-container {
  display: flex;
  justify-content: center;
}

.modal-title {
  font-weight: 500;
}

label {
  margin-bottom: 5%;
}

input {
  margin-bottom: 10%;
}

label,
input {
  display:block;
}

ul,
li {
  list-style: none;
  padding: 0;
}

ul {
  margin: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

#start {
  margin-top: 4%;
  height: 5vh;
  width: 10vh;
  border-radius: 5px;
  border-style: none;
}

#start:hover {
  background-color: rgb(224, 211, 192);
}


.content2 {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  color: var(--text1);
}

.content2>p {
  display: flex;
  justify-self: center;

  margin: 0.5rem 0 0.5rem 0;
}

.content3 {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

  grid-column: 2 / 3;
  grid-row: 3 / 4;

  background-color: var(--background2);
  padding: 5%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
}

.content3>div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background3);
  margin: 5%;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px;
}

.content3>div>p {
  margin: 0;
  font-size: 3rem;
  font-family: 'freckle Face';
}

.content3>div:hover {
  background-color: rgb(184, 223, 230);
}

.content4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#modal2-container {
  height: 100%;
}

#modal2 {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

.winner-name-container {
  display: flex;
  justify-content: center;
}

#winner-name {
  margin: 0 0 1rem 0;
}

.restart-container {
  display: flex;
  justify-content: space-around;
}

#next-round {
  border-style: none;
}

#next-round:hover {
  background-color: rgb(224, 211, 192);
}

#new-game {
  border-style: none;
}

#new-game:hover {
  background-color: rgb(224, 211, 192);
}


footer {
  grid-column: 1 / 4;
  grid-row: 5 / 6;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text1);
}