html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(87, 87, 87);
  --background2: rgb(100, 79, 54);
  --background3: rgb(165, 213, 220);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */   /* Disables browser font size setting */
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(255, 255, 255);
  /* font-size: 16px; */
}

body {
  display: grid;
  grid-template: 20vh 1fr 40vh 1fr 40px / 1fr 40vh 1fr;
}

header {
  border: 1px solid red;

  grid-column: 1 / 4;
  grid-row: 1 / 2;

  font-size: 3rem;
  display: flex;
  justify-content: center;

  background-color: var(--background2);
}


dialog {
  background-color: var(--background2);
}

.modal-title-container {
  display: flex;
  justify-content: center;
}

.modal-title {
  font-weight: 500;
}

input {
  margin-bottom: 5%;
}

label {
  margin-bottom: 1%;
}

input,
label {
  display:block;
}

ul,
li {
  list-style: none;
  padding: 0;
}

ul {
  margin: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}


.content2 {
  border: 1px solid red;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.content3 {
  border: 1px solid red;

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.content3>div {
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content3>div>p {
  margin: 0;
  font-size: 3rem;
}

.content3>div:hover {
  background-color: rgb(211, 211, 226);
}

.content4 {
  border: 1px solid red;

  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#modal2-container {
  height: 100%;
}

#modal2 {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}


footer {
  border: 1px solid red;

  grid-column: 1 / 4;
  grid-row: 5 / 6;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text-footer);
/*   position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
 */}